header{
    background-color: $color-bg-dark;
    .header__wraper{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            padding: 3rem 0;
            font-size: 2rem;
        }
    }
}